body, html {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  width: 100%;
  min-height: 20vh;
  background-color: rgb(34, 34, 34);
}
.card-grid{
  width: 100%;
  min-height: 80vh;
}
::after::before {
  box-sizing: border-box;
}